#Ignore netcdfs for his and map
*_map.nc
*_his.nc

#Ignore output folder
output/**
Experiment_Outputs/**

#Ignore openda logfile
openda_logfile.txt

#Ignore kalman filter gainfile
**/kgStorage_**

#Ignore in and out files on H6
*Discharge.e*
*Discharge.o*